<div class ="container">
  <div class = "card " >
      <h2 class="card-title bg-warning text-center ">INTRODUCE DATOS DEL ESPACIO</h2>
      <div class = "card-body">

      <form class="mt-1 ms-1 me-1 row row-cols-lg-3 g-0 "  id="formul">

          <div  *ngIf="!marcadorCrearMod; else vol">
            <div class= "mb-10" >
              <label   style ="background-color: rgb(252, 252, 202)" for="autoSizingInput">Dirección</label>
              <input  type="text" class="form-control" name="direccion" [(ngModel)]="espacio.direccion"  id="autoSizingInput" placeholder="{{espacio.direccion}}">
            </div>
          </div>


          <ng-template #vol>
          <div class= "mb-10" >
            <label   style ="background-color: rgb(252, 252, 202)" for="autoSizingInput">Dirección</label>
            <input disabled  type="text" class="form-control" name="direccion" [(ngModel)]="espacio.direccion"  id="autoSizingInput" placeholder="{{espacio.direccion}}">
          </div>
          </ng-template>



            <div class="mb-10">
              <label   style ="background-color: rgb(252, 252, 202)" for="autoSizingInput">Horario</label>
              <input type="text" class="form-control" name="horario" [(ngModel)]="espacio.horario"  id="autoSizingInput" placeholder="{{espacio.horario}}">
            </div>

            <div class="mb-10" >
              <label   style ="background-color: rgb(252, 252, 202)" for="autoSizingInput">Num teléfono</label>
              <input type="text" class="form-control" name="numTelef" [(ngModel)]="espacio.numTelef"  id="autoSizingInput" placeholder="{{espacio.numTelef}}">
            </div>

            <div class="mb-10" >
              <label  style ="background-color: rgb(252, 252, 202)" for="autoSizingInput">Email</label>
              <input type="text" class="form-control" name="email" [(ngModel)]="espacio.email"  id="autoSizingInput" placeholder="{{espacio.email}}">
            </div>

            <div class="mb-10" >
              <label   style ="background-color: rgb(252, 252, 202)" for="autoSizingInput">Fecha registro DGA</label>
              <input type="date" class="form-control" name="fechRegDga" [(ngModel)]="espacio.fechRegDga"  id="autoSizingInput" placeholder="{{espacio.fechRegDga}}">
            </div>




            <div class="btn-group col  " role="group" aria-label="Basic mixed styles example">
              <div  *ngIf=" !espacio.id; else val">
              <button type="button" class="btn btn-success"  (click)="guardar()"  name="bot" id="autoSizing" value="Input" style="margin-left: 5px">Crear nuevo espacio</button>
              </div>

              <ng-template #val>
                <button type="button" class="btn btn-secondary"  (click)="update()"  name="bot" id="autoSizing" value="Input">Modificar espacio</button>
                 <button type="button" class="btn btn-danger" (click)="borrarEspacio()" style="margin-left: 5px">Borrar Espacio</button>
                 <button type="button" class="btn btn-success" (click)="crearLugar()" style="margin-left: 5px">Crear un lugar</button>
              </ng-template>


              <button (click)="retornar()" class="btn btn-warning" style="margin-left: 5px">Volver al cliente </button>
              <button   [routerLink]="['/cardio/menuPrincipal']" class="btn btn-warning" style="margin-left: 5px">Volver Menu Principal</button>
            </div>









  </form>


</div>
</div>
</div>

<app-verlugares [espacioHijo]="espacio"  [marcadorHijo]="marcador"></app-verlugares>





