<div class ="container">
  <div class = "card  pad" >
      <h2 class="card-title bg-warning text-center mb-30 ">INTRODUCE DATOS DEL ESPACIO</h2>
      <div class = "card-body">

      <form class="mt-1 ms-1 me-1 row row-cols-lg-3 g-3 "  id="formul">

          <div  *ngIf="marcador; else vol">
            <div class= "mb-10" >
              <label   style ="background-color: rgb(252, 252, 202)" for="autoSizingInput">Dirección</label>
              <input  type="text" class="form-control" name="direccion" [(ngModel)]="espacio.direccion"  id="autoSizingInput" placeholder="{{espacio.direccion}}">
            </div>
          </div>


          <ng-template #vol>
          <div class= "mb-10" >
            <label   style ="background-color: rgb(252, 252, 202)" for="autoSizingInput">Dirección</label>
            <input disabled  type="text" class="form-control" name="direccion" [(ngModel)]="espacio.direccion"  id="autoSizingInput" placeholder="{{espacio.direccion}}">
          </div>
          </ng-template>



            <div class="mb-10">
              <label   style ="background-color: rgb(252, 252, 202)" for="autoSizingInput">Horario</label>
              <input type="text" class="form-control" name="horario" [(ngModel)]="espacio.horario"  id="autoSizingInput" placeholder="{{espacio.horario}}">
            </div>

            <div class="mb-10" >
              <label   style ="background-color: rgb(252, 252, 202)" for="autoSizingInput">Num teléfono</label>
              <input type="text" class="form-control" name="numTelef" [(ngModel)]="espacio.numTelef"  id="autoSizingInput" placeholder="{{espacio.numTelef}}">
            </div>

            <div class="mb-10" >
              <label  style ="background-color: rgb(252, 252, 202)" for="autoSizingInput">Email</label>
              <input type="text" class="form-control" name="email" [(ngModel)]="espacio.email"  id="autoSizingInput" placeholder="{{espacio.email}}">
            </div>

            <div class="mb-10" >
              <label   style ="background-color: rgb(252, 252, 202)" for="autoSizingInput">Fecha registro DGA</label>
              <input type="date" class="form-control" name="fechRegDga" [(ngModel)]="espacio.fechRegDga"  id="autoSizingInput" placeholder="{{espacio.fechRegDga}}">
            </div>




            <div class="btn-group col  " role="group" aria-label="Basic mixed styles example">
              <div  *ngIf=" !espacio.id; else val">
              <button type="button" class="btn btn-success"  (click)="guardar()"  name="bot" id="autoSizing" value="Input" style="margin-left: 10px">Crear nuevo espacio</button>
              </div>
              <ng-template #val>
                <button type="button" class="btn btn-secondary"  (click)="update()"  name="bot" id="autoSizing" value="Input" style="margin-left: 10px">Modificar espacio</button>
              </ng-template>
                <button (click)="retornar()" class="btn btn-warning" style="margin-left: 10px">Volver al cliente </button>
              <button style="margin-left: 120px"  [routerLink]="['/cardio/menuPrincipal']" class="btn btn-warning" style="margin-left: 10px">Volver Menu Principal</button>
            </div>


<!--

        <div class="hstack gap-3 col" style="margin-left: 20px">
              <div >
              <label style ="background-color: rgb(252, 252, 202)"  for="autoSizingInput">Asignar un lugar a un equipo</label>
              <cdk-virtual-scroll-viewport itemSize="50">
              <select form-group-row class="form-select" aria-label="Default select example"  id="autoSizingInput"  [(ngModel)]="lugar" name="lugar">
              <option selected [ngValue]="null">Elige lugar</option>
              <option  *cdkVirtualFor="let lug of lugares" [ngValue]="lug">
               {{lug.ubicacion}}
              </option>
              </select>
            </cdk-virtual-scroll-viewport>
             </div>    -->

             <div >
              <label style ="background-color: rgb(252, 252, 202)"  for="autoSizingInput">Elegir equipo a asignar</label>
             <!-- <cdk-virtual-scroll-viewport itemSize="200"> -->
              <select form-group-row class="form-select" aria-label="Default select example"  id="autoSizingInput"  [(ngModel)]="equipo" name="selectedEquipo">
              <option selected  [ngValue]="null">Elige equipo</option>
              <option  *ngFor="let equip of equipos" [ngValue]="equip">
               {{equip.numSerie}}
              </option>
              </select>
           <!--   </cdk-virtual-scroll-viewport>  -->
             </div>




            <div class="col" pad>
              <button type="button" class="btn btn-success" (click)="asignarEquipo()" >Elegir equipo a asignar</button>
            </div>

            <div  *ngIf="marcadorCrearLugar">
            <div class="col" pad>
              <button type="button" class="btn btn-success" (click)="crearLugar()">Crear un lugar</button>
            </div>
            </div>


  </form>


</div>
</div>
</div>

<app-verlugares [espacioHijo]="espacio" [equipoHijo]="equipo" [marcadorHijo]="marcador"></app-verlugares>





