
    <div class ="container">
      <div class = "card  pad" >
          <h2 class="card-title bg-warning text-center mb-30 ">INTRODUCE DATOS</h2>
          <div class = "card-body">

          <form class="mt-1 ms-1 me-1 row row-cols-lg-3 g-3 "  id="formul">


                <div class= "mb-10" >
                  <label   style ="background-color: rgb(252, 252, 202)" for="autoSizingInput">CIF</label>
                  <input type="text" class="form-control" name="cif" [(ngModel)]="cliente.cif"  id="autoSizingInput" placeholder="{{cliente.cif}}">
                </div>

                <div class="mb-10">
                  <label   style ="background-color: rgb(252, 252, 202)" for="autoSizingInput">Nombre Empresa</label>
                  <input type="text" class="form-control" name="nombEmp" [(ngModel)]="cliente.nombEmp"  id="autoSizingInput" placeholder="{{cliente.nombEmp}}">
                </div>

                <div class="mb-10" >
                  <label   style ="background-color: rgb(252, 252, 202)" for="autoSizingInput">Direccion Fiscal</label>
                  <input type="text" class="form-control" name="direccionFiscal" [(ngModel)]="cliente.direccionFiscal"  id="autoSizingInput" placeholder="{{cliente.direccionFiscal}}">
                </div>

                <div class="mb-10" >
                  <label  style ="background-color: rgb(252, 252, 202)" for="autoSizingInput">Nombre contacto</label>
                  <input type="text" class="form-control" name="nombre" [(ngModel)]="cliente.nombre"  id="autoSizingInput" placeholder="{{cliente.nombre}}">
                </div>

                <div class="mb-10" >
                  <label   style ="background-color: rgb(252, 252, 202)" for="autoSizingInput">Apellidos</label>
                  <input type="text" class="form-control" name="apellidos" [(ngModel)]="cliente.apellidos"  id="autoSizingInput" placeholder="{{cliente.apellidos}}">
                </div>

                <div  class="mb-10" >
                  <label   style ="background-color: rgb(252, 252, 202)" for="autoSizingInput">DNI</label>
                  <input type="text" class="form-control" name="dni" [(ngModel)]="cliente.dni"  id="autoSizingInput" placeholder="{{cliente.dni}}">
                </div>



                <div class="mb-10" >
                  <label   style ="background-color: rgb(252, 252, 202)"  for="autoSizingInput">Comercial asignado</label>
                  <input type="text" class="form-control" name="comercial" [(ngModel)]="cliente.comercial"  id="autoSizingInput" placeholder="{{cliente.comercial}}">
                </div>

                <div class="mb-10" >
                  <label   style ="background-color: rgb(252, 252, 202)"  for="autoSizingInput">Comercial asignado</label>
                  <input type="text" class="form-control" name="comercial" [(ngModel)]="cliente.comercial"  id="autoSizingInput" placeholder="{{cliente.comercial}}">
                </div>



               <div  *ngIf=" marcador; else val">
                  <div class="mb10 text-center pad">
                   <button type="submit" class="btn btn-secondary" (click)="update()"  name="bot" id="autoSizing" value="Input">Modificar Cliente</button>
                  </div>
              </div>

              <ng-template #val>
                <div class="mb10 text-center pad">
                  <button type="submit" class="btn btn-success"  (click)="guardar()"  name="bot" id="autoSizing" value="Input">Crear Cliente</button>
                </div>
              </ng-template>

<!--

                <div class="mb10 pad">
                  <label style ="background-color: rgb(252, 252, 202)"  for="autoSizingInput">Asignalo a un espacio</label>
                  <cdk-virtual-scroll-viewport itemSize="500">
                    <select class="form-select" aria-label="Asignara"  [(ngModel)]="espacio" name="espacio">
                     <option [ngValue]="null">Asignalo a un espacio</option>
                      <option [ngValue]="esp" *cdkVirtualFor="let esp of espacioscli">{{esp.}}</option>
                    </select>
                  </cdk-virtual-scroll-viewport>

  </div> -->

                <div form-group-row class="col-auto ">
                  <label style ="background-color: rgb(252, 252, 202)"  for="autoSizingInput">Asignar un equipo a un espacio o modificar espacio</label>
                  <cdk-virtual-scroll-viewport itemSize="50">
                  <select form-group-row class="form-select" aria-label="Default select example"  id="autoSizingInput"  [(ngModel)]="espacio" name="espacio">
                  <option selected [ngValue]="null">Elige espacio</option>
                  <option  *cdkVirtualFor="let esp of espacioscli" [ngValue]="esp">
                    {{esp.direccion}}
                  </option>
                  </select>
                </cdk-virtual-scroll-viewport>

                <div class="mb10 text-center pad">
                  <button type="submit" class="btn btn-success"(click)="IrAsignarEspacio()"  name="ir" id="autoSizing" value="Input" >Asignar equipo\Modificar Espacio</button>
                </div>
                </div>


                <div form-group-row class="col-auto ">
                  <label style ="background-color: rgb(252, 252, 202)"  for="autoSizingInput">Asignar un alumno a un curso o modificar curso</label>
                 <cdk-virtual-scroll-viewport itemSize="50">
                  <select form-group-row class="form-select" aria-label="Default select example"  id="autoSizingInput"  [(ngModel)]="curso" name="curso">
                  <option selected [ngValue]="null">Elige curso</option>
                  <option  *ngFor="let curs of cursoscli" [ngValue]="curs">
                    {{curs.id}}
                  </option>
                  </select>
                </cdk-virtual-scroll-viewport>

                <div class="mb10 text-center pad">
                  <button type="submit" class="btn btn-success"(click)="IrAsignarCurso()"  name="ira" id="autoSizing" value="Input" >Asignar alumno\Modificar Curso</button>
                </div>
                </div>





        </form>
      </div>
    </div>
   </div>
