<div class ="container">
  <div class = "card">
      <h2 class="text-center bg-warning" >Lista de lugares y vehiculos</h2>
      <div class = "card-body">
          <table class="table table-striped table table-hover">
              <thead>
                <th> Tipo</th>
                  <th> Ubicación</th>
                  <th> Espacio</th>
                  <th> Marca</th>
                  <th> Modelo</th>
                  <th> Matricula</th>
                  <th> Teléfono</th>
                  <th> Equipo</th>
               </thead>
              <tbody>
                  <tr *ngFor = "let lugar of lugares">


                      <td> {{ lugar.ubicacion}}</td>
                      <td> {{ espacioHijo.direccion}}</td>
                      <td> {{ lugar.marca}}</td>
                      <td> {{ lugar.modelo}}</td>
                      <td> {{ lugar.matricula}}</td>
                      <td> {{ lugar.telefono}}</td>
                      <td style="min-width: 100px" >{{lugar.equipo.numSerie}} </td>

                     <div  *ngIf="marcadorHijo">
                      <td ><button (click)="crearLugar()" class="btn btn-success">Asignar equipo</button></td>
                      <td ><button (click)="updateLugar(lugar.id)" class="btn btn-secondary">Update</button></td>
                      <td ><button (click)="deleteLugar(lugar.id)" class="btn btn-danger">Delete</button></td>
                     </div>


                   </tr >


                </table>

                <div class="grid text-center">

                          <div class="g-col-4 g-col-md-10">
                            <div  *ngIf="!(marcadorHijo)">
                            <button (click)="volveraEspacio()"  class="btn btn-warning"  >Volver a Espacio</button>
                            <button (click)="volveraInicio()" class="btn btn-warning" style="margin-left: 100px">Volver a Inicio</button>
                          </div>
                </div>
                </div>
            </div>
          </div>

