
<div class ="container">


  <div class="row" style="height: 200px; background-color:rgb(248, 245, 81)">
     <div class="col align-self-center ">
    <img src="../../../assets/LOGOCARDIO2.jpg" class="rounded mx-auto d-block" alt="logo de la empresa">
    <h1 class="text-center" >APP INSTITUTO ARAGONES CARDIOPROTECCIÓN</h1>
    </div>

  </div>


  <div class="row" style="height: 400px; background-color:rgb(233, 240, 209)">
  <div class="d-grid gap-2 col-6 mx-auto ">

  <div class="row align-items-center" >
    <div class="btn-group dropend" role="group">

      <button type="button" class="btn btn-warning dropdown-toggle " data-bs-toggle="dropdown" aria-expanded="false">
        EQUIPOS
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" [routerLink]="['/cardio/menuPrincipal/equipos/edit']">CREAR</a></li>
        <li><a class="dropdown-item" [routerLink]="['/cardio/menuPrincipal/equipos']">CONSULTAR</a></li>
      </ul>
   </div>
</div>

  <div class="row align-items-center">
    <div class="btn-group dropend" role="group">

      <button type="button" class="btn btn-warning dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        CLIENTES
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" [routerLink]="['/cardio/menuPrincipal/clientes/edit']">CREAR</a></li>
        <li><a class="dropdown-item" [routerLink]="['/cardio/menuPrincipal/clientes']">CONSULTAR</a></li>
      </ul>

    </div>
</div>
</div>
</div>

</div>




